{#<form method="post" accept-charset="UTF-8">#}
{#    {{ csrfInput() }}#}
{#    {{ hiddenInput('action', 'your-plugin/settings/save-settings') }}#}
{#    {{ hiddenInput('redirect', 'your-plugin/settings') }}#}

{#    <div class="pane">#}
{#        <label for="fontAwesomeKitUrl">FontAwesome Kit URL</label>#}
{#        <input id="fontAwesomeKitUrl" type="url" name="fontAwesomeKitUrl" value="{{ settings.fontAwesomeKitUrl ?? '' }}" placeholder="https://kit.fontawesome.com/xxxxxx.js" />#}
{#    </div>#}

{#    <div class="buttons">#}
{#        <button type="submit" class="btn submit">Save</button>#}
{#    </div>#}
{#</form>#}
<h1>Icon Picker is loading</h1>